# 依赖目录
node_modules/
.pnpm-store/

# 构建产物
dist/
unpackage/

# 编辑器配置
.hbuilderx/
.vscode/
.idea/

# Git
.git/
.gitignore

# 日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 系统文件
.DS_Store
Thumbs.db

# 其他
*.md
.env.local
.env.*.local
